@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
  --color-black: #000;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-black);
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}